{% extends "base.html" %}
{% block title %}Junos Configuration{% endblock %}
{% block content %}

<h2>Intel CPU Recommendation Tool</h2>
<table>
    <th colspan="4"></th>
    <tr>
        <td>
	    url_data
	</td>
        <td>
	    url_target
	</td>
        <td>
	    feature0
	</td>
        <td>
	    feature1
	</td>
        <td>
	    feature2
	</td>
        <td>
	    feature3
	</td>
        <td>
	    feature4
	</td>
        <td>
	    feature5
	</td>
        <td>
	    feature6
	</td>
        <td>
	    feature7
	</td>
        <td>
	    feature8
	</td>
        <td>
	    feature9
	</td>
    </tr>
</table>
<br>
<a href="cpu_price/home">Import Data</a>
